numpy
scipy
matplotlib
pytest
cython
scipy
h5py
pyfftw
nibabel
lmfit
numdifftools
dominate
imageio
matplotlib
psutil
pandas
scikit-image
hdf5storage
pydicom
tqdm
pylbfgs
ksvd
pynufft
scikit-learn
more_itertools
git+https://github.com/stefanloock/pyshearlab/@master